@import 'vendor/normalize.css';

@import 'utilities/align.css';
@import 'utilities/border.css';
@import 'utilities/display.css';
@import 'utilities/embed.css';
@import 'utilities/flex.css';
@import 'utilities/float.css';
@import 'utilities/position.css';
@import 'utilities/sizing.css';
@import 'utilities/spacing.css';
@import 'utilities/text.css';

/* base styles */
@import 'base.css';
@import 'grid.css';
@import 'form.css';
@import 'table.css';

@import 'components/header.css';
@import 'components/button.css';
@import 'components/product-list.css';
@import 'components/cart.css';
@import 'components/nav-main.css';

@import 'print.css';

.catagory-item {
    margin-bottom: 8px;
    margin-left: 8px;
  }
  
  .catagory-box {
    padding: 0.875em;
    background-color: rgba(0, 58, 79, 0.05);
    transition: opacity 0.2s ease, visibility 0.2s ease;
  }

  .bold {
    font-family: ff-dax-pro;
    font-weight: 700;
  }

  .catagory-item-label {
    color: #003a4f;
    margin: 0 8px 0 0;
  }