.no-button {
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  text-align: left;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
}

.button-group .button {
  margin-right: 1em;
  margin-bottom: 1rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.4875em 1em;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.23s ease-in-out, border-color 0.23s ease-in-out,
    color 0.23s ease-in-out;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  border-radius: var(--border-radius);
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.button[disabled],
.button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
  outline: none;
}

.button--primary {
  color: #ffffff;
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
  font-weight: bold;
}

.button--primary:hover,
.button--primary:focus {
  background-color: var(--color-brand-darker);
}

.button--secondary {
  color: var(--color-brand);
  background-color: transparent;
  border: 1px solid var(--color-brand);
}

.button--secondary:hover,
.button--secondary:focus {
  color: #ffffff;
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}

.button--tertiary {
  color: var(--color-brand);
  background-color: var(--color-brand-lightest);
  border: 1px solid var(--color-brand);
}

.button--small {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.button-icon-small .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}



.add-to-cart-counter {
  color: var(--color-brand);
  display: inline-block;
  text-align: center;
  appearance: textfield;
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  height: 44px;
  line-height: 1.27;
  margin: 0 auto !important;
  width: 36px;
}


.button-icon-small {
  height: 44px;
  width: 44px;
  border: 1px solid var(--color-brand);
  background-color: white;
}

.button-icon-small:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--color-brand-light);
}

.button-icon-small svg {
  height: 14px;
  width: 14px;
}

.button-icon-small:active svg {
  height: 12px;
  width: 12px;
}

.add-to-cart-wrapper .button-icon-small {
  position: absolute;
  border-bottom: 0;
  border-top: 0;
  top: 0;
}

.add-to-cart-wrapper .button-icon-small.plus {
  border-bottom: 0;
  right: 0;
}

.add-to-cart-wrapper .button-icon-small:focus {
  border-bottom: 1px solid var(--color-brand);
  border-top: 1px solid var(--color-brand);
}

.add-to-cart-wrapper .button-icon-small.minus {
  left: 0;
}

.button-icon-small .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


.add-to-cart-counter:focus {
  outline: 1px solid var(--color-brand);
  border-radius: 0;
}

.add-to-cart-counter::-webkit-inner-spin-button,
.add-to-cart-counter::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}


@media (min-width: 768px) {
  .button--big {
    padding-top: 0.875em;
    padding-right: 1.25em;
    padding-bottom: 0.875em;
    padding-left: 1.25em;
  }
}


