.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  line-height: 1.2;
  color: #454545;
  color: var(--color-dark);
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: var(--border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  position: absolute;
  margin-left: -1.25rem;
}

.form-error {
  color: var(--color-danger-600);
}

.form-error .form-label,
.form-error .form-check-label {
  color: var(--color-danger-600);
}

.form-error .form-control {
  border: 1px solid var(--color-danger-600);
  color: var(--color-danger-600);
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

select.form-control {
  height: 38px;
}

.language-select select {
  border: 0;
  background: none;
  padding: 0 0.75em 0 0;
  appearance: none;
  margin-left: -0.25em;
}

.language-select::after {
  right: 0;
  top: 0.375rem;
}
.select-wrap {
  display: inline-block;
  position: relative;
}

.select-wrap::after {
  position: absolute;
  right: 0;
  top: 25%;
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url(/static/img/icon-streamline/arrow-button-down.svg);
  pointer-events: none;
}

.select-wrap select {
  width: 100% !important;
  line-height: 1.15;
}
