.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  user-select: none;
}

.icon img {
  height: 18px;
  width: 18px;
}

.icon--xs img {
  height: 8px;
  width: 8px;
}

.icon--small img {
  height: 14px;
  width: 14px;
}

.icon--medium img {
  height: 20px;
  width: 20px;
}

.icon--large img {
  height: 24px;
  width: 24px;
}
