.cart-img {
  max-width: 100px;
}

.cart-counter {
  background-color: var(--color-brand);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 1.625em;
  height: 1.625em;
  line-height: 1.625;
  margin-right: 0.25em;
}

.side-cart-container {
  width: 300px;
  z-index: 2000;
  position: fixed;
  height: 100%;
  transition: right .3s ease-in-out;
  right: -350px;
  background: white;
  overflow-y: auto;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.08),0 7px 14px 1px rgba(50,50,93,0.1);;
}

.side-cart-container.open {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.3;
  z-index: 2000;
  cursor: pointer;
}
