.nav--main {
  display: none;
}

@media (min-width: 768px) {
  .nav--main {
    display: flex;
  }

  .nav--main__item {
    position: relative;
  }

  .nav--main__item[data-in-hover-path='true'] {
    position: relative;
  }
}

.nav--main__mega {
  display: flex;
  position: absolute;
  left: -1.5em;
  right: -1.5em;
  top: 42px;
  width: calc(100% + 3em);
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  transition-delay: 150ms;
}

.nav--main__item[data-in-hover-path='true'] + .nav--main__mega {
  visibility: visible;
  opacity: 1;
  overflow: visible;
  background-color: white;
}

.mega-link {
  display: block;
  padding-top: 0.25em;
  padding-right: 1.75em;
  padding-bottom: 0.25em;
  padding-left: 1.5em;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: .25em;
  text-transform: uppercase;
}

.mega-link.has-arrow {
  position: relative;
}

.mega-link.has-arrow::after {
  position: absolute;
  right: 1em;
  top: calc(1em - 5px);
  content: '';
  background-image: url(/static/img/icon-streamline/arrow-button-right.svg);
  display: block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  opacity: 0.27;
}

.mega-link:first-child {
  margin-top: 1em;
}

.mega-link:last-child {
  margin-bottom: 1em;
}


.mega-link:hover,
.mega-link[data-in-hover-path='true'],
.mega-link:focus {
  text-decoration: underline;
}

.mega-link:hover.has-arrow::after {
  opacity: 1;
}

@media (min-width: 1024px) {
  .mega-link {
    font-size: 1.125rem;
    letter-spacing: 0.75px;
    line-height: 1.5;
    font-weight: 500;
  }
}

.mega-col {
  width: 33%;
  display: inline-block;
  border-right: 1px solid var(--color-grey-lightest);
}

