.product-list-item {
  transition: background-color 0.18s ease-in-out;
  border: 1px solid transparent;
}

.product-list-item:hover,
.product-list-item:focus {
  background-color: var(--color-brand-lightest);
  border-color: var(--color-brand);
}

.taxes {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 14px;
}
