#order {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
  text-align: left;
}
#order,
#order thead,
#order tbody,
#order th,
#order td,
#order tr {
  display: block;
}

#order td {
  padding: 0;
}

#order tr {
  border: 1px solid #ccc;
}
#order thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#order td {
  border: none;
  position: relative;
  line-height: 2;
  padding-left: 50%;
}
#order td input {
  line-height: 2;
}
#order td::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  background-color: #03aa87;
  color: #fff;
}
#order tr:nth-of-type(odd) {
  background: #eee;
}

#order tr:hover {
  background-color: #ace4d6;
  color: white;
  cursor: pointer;
}

#order td:nth-of-type(1)::before {
  content: 'Bestellnummer';
}
#order td:nth-of-type(2)::before {
  content: 'Erstellt';
}
#order td:nth-of-type(3)::before {
  content: 'Lieferart';
}
#order td:nth-of-type(4)::before {
  content: 'Zahlungsart';
}
#order td:nth-of-type(5)::before {
  content: 'Zahlungsstatus';
}
#order td:nth-of-type(6)::before {
  content: 'Gesamt';
}
#order td:nth-of-type(7)::before {
  content: 'Land';
}
#order td:nth-of-type(8)::before {
  content: 'Status';
}

@media only screen and (min-width: 768px) {
  #order {
    display: table;
  }
  #order thead,
  #order tbody {
    display: table-header-group;
  }
  #order thead tr,
  #order tbody tr {
    position: static;
    display: table-row;
  }
  #order th,
  #order td {
    display: table-cell;
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }
  #order th {
    background: #03aa87;
    color: white;
    font-weight: 700;
  }

  #order td:nth-of-type(1)::before {
    content: '';
  }
  #order td:nth-of-type(2)::before {
    content: '';
  }
  #order td:nth-of-type(3)::before {
    content: '';
  }
  #order td:nth-of-type(4)::before {
    content: '';
  }

  #order td:nth-of-type(5)::before {
    content: '';
  }
  #order td:nth-of-type(6)::before {
    content: '';
  }
  #order td:nth-of-type(7)::before {
    content: '';
  }
  #order td:nth-of-type(8)::before {
    content: '';
  }
}
